html {
  text-align: center;
  line-height: 140%;
  font-family: "Century Schoolbook", Georgia, Times, serif;
}

header[role=banner], main, footer[role=contentinfo] {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  max-width: 600px;
}

footer[role=contentinfo] {
  text-align: right;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.example {
  padding-left: 2rem;
}

.example:before {
  content: 'Example: ';
    font-weight: bold;
}

h1 {
  padding-top: 2rem;
}

h2 {
  padding-top: 1rem;
}
