html {
  text-align: center;
  line-height: 1.4;
  font-family: "Century Schoolbook", Georgia, Times, serif;
}

header[role=banner],
main[role=main],
nav[role=navigation],
footer[role=contentinfo] {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

@media screen {
  header[role=banner],
  main[role=main],
  nav[role=navigation],
  footer[role=contentinfo] {
    max-width: 37rem;
  }
}

footer[role=contentinfo] {
  margin-top: 3rem;
  padding-top: 0;
  text-align: right;
  font-size: 80%;
}

@media screen {
  footer[role=contentinfo] {
    border-top: 1px solid black;
    padding-bottom: 3rem;
  }
}

.example {
  padding-left: 2rem;
}

.example:before {
  content: 'Example: ';
    font-weight: bold;
}

h1 {
  padding-top: 2rem;
}

h2 {
  padding-top: 1rem;
}

pre {
  line-height: 100%;
}

a[href] {
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}
